In [1]:
scores=[5,7,11,13,7,8,3]
sc_set=set(scores)
top=max(sc_set)
sc_set.remove(top)
print(max(sc_set))

11

In [2]:
a={6,3,2,8,4,5,1}
b={5,11,4,8,7,12,10}
if a.intersection(b):
    print(a&b)
else:
        print(a.union(b))

{8, 4, 5}

In [3]:
D={'John' :[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
n=input('Enter the name to be updated')
if n in D:
    D[n]=[88,77,99]
    print(D)
else:
    print('Name not found')

Enter the name to be updatedJohn
{'John': [88, 77, 99], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

In [5]:
s='Nirmala'
s[::2]

'Nraa'

In [6]:
age=[40,19,50]
print('elder= ',max(age))
print('youngest= ',min(age))

elder=  50
youngest=  19